 <footer class="bg-danger" >
      <ul class="list-inline text-center py-2">
        <li class="list-inline-item">
          <a href="" class="text-white"></a>
        </li>
        <li class="list-inline-item">
          <a href="" class="text-white"></a>
        </li>
        <li class="list-inline-item">
          <a href="" class="text-white"></a>
        </li>
      </ul>
      
      <div class="text-white text-center pb-4">
        <p class="h2">goodjapan</p>
        <small class="small">&copy;created by Kaito Nishimura</small>
      </div>
      
    </footer>