@import "bootstrap";
@import "posts";
@import "posts/searches";
@import "font-awesome-sprockets";
@import "font-awesome";
@import"devise";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}