// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.margin-top-5per {
  margin-top: 5%;
}

.title {
  font-size: 20px;
}


.card-img{
  padding-top: 15px;
  padding-bottom: 15px;
  object-fit: cover;
  height: 300px;
  width: 255px;
}
.card-title{
  color: lightgray;
}
.card-text{
  color: lightgray;
}

.book-block{
  background-color: white;
}



.post-image{
  padding-top: 15px;
  padding-bottom: 15px;
  height: 450px;
  width: 355px;
  margin: 0 auto;
}