// Place all the styles related to the posts::searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search {
  margin: 0 auto;
  padding-top: 4%;
}

.search-form{
  
}

.search-input {

  font-family: Comic Sans MS;
  font-size: 18px;

  background: #fff;
  border: 1px solid #dfe1e5;
  width: 320px;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  flex: 1;
  box-shadow: 2px 2px;
  padding: 5px 4px 4px 16px;
  padding-left: 14px;
  background-color: transparent;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;


}


.search-btn{
  font-family: Comic Sans MS;
  font-size: 15px;
  height: 37px;
  border-radius: 52px;
  background-color: lightgray;
  box-shadow: 2px 2px;
  cursor: pointer;
  outline: none;
}